@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    
    color: #ebdbb2;;
    src: local('Menlo Regular'), url('fonts/menlo-cufonfonts-webfont/Menlo-Regular.woff') format('woff');
    }
    :root {
        --md-text-font: "Menlo Regular"; 
         font-size: 22px;
      }
      
     
  